

body {
    background-color: #066acd;
}

#container {
    margin: 100px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 400px;
    border-radius: 5px;
}

#newTask {
    display: flex;
}
input{
    width: 75%;
    padding: 5px;
    color: #111111;
    font-weight: 500;
}
input:focus{
    outline: none;
    border-color: #0d75ec;
}
#newTask button{
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}
.task {
    display: flex;
    justify-content: space-between;
    padding: none;
    background-color: #0d75ec;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    border: 1px black solid;
    border-radius: 5px;
}
ul {
    padding: 0;
    width: 300px;
}
.delete {
    cursor: pointer;
    margin-left: 15px;
}